@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #EBF5EE;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #000000;
}

/* Main Display */
.introDisplayContainer {
  width: 75%;
  margin: auto;
  margin-top: 1rem;
}

/* Header */
.headerContainer {
  display: flex;
}

/* Title */
.titleContainer {
  display: flex;
  height: 40px;
  width: 35%;
  margin-top: auto;
  margin-left: 7.5%;
}

.titleL, .titleR, .titleC {
  background-color: #2da945 ;
}

.titleL, .titleR {
  width: 12.5%;
}

.titleL {
  border-top-left-radius: 50%;
}

.titleR {
  border-top-right-radius: 50%;
}

.titleC {
  width: 75%;
  text-align: center;
  font-size: 1.5rem;
}

/* Tabs */
.tabsContainer {
  display: flex;
  width: 35%;
  margin-top: auto;
  margin-left: 2.5%;
}

.tabBox {
  display: flex;
  width: 50%;
}

.tabL, .tabR, .tabC {
  background-color: #2da945 ;
}

.tabL, .tabR {
  width: 12.5%;
}

.tabLIn, .tabRIn {
  height: 90%;
  width: 90%;
}

/* Tab Left & Right */
.tabL {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 50%;
}

.tabLIn {
  border-top-left-radius: 50%;
}

.tabR {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-top-right-radius: 50%;
}

.tabRIn {
  border-top-right-radius: 50%;
}

/* Tab Center */
.tabC {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 75%;
  text-align: center;
  font-size: 1.5rem;
}

.tabCIn {
  display: flex;
  justify-content: center;
  height: 90%;
  width: 100%;
}

button.home {
  cursor: pointer;
  text-decoration: none;
  height: 100%;
  width: 100%;
  background-color: #2da945 ;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  color: white;
}

/* Tab On Hover */
#tabBoxL:hover #tabLLIn, #tabBoxL:hover #tabLCIn, #tabBoxL:hover #tabLRIn {
  background-color: #EBF5EE;
}

#tabBoxR:hover #tabRLIn, #tabBoxR:hover #tabRCIn, #tabBoxR:hover #tabRRIn {
  background-color: #EBF5EE;
}

.googleButton{
  display:flex;
  align-items: flex-end;
  margin-left: 2.5%;
}

/* Intro */
.introContainer {
  display: flex;
  height: 250px;
}

/* Intro Left & Right */
.introBoxL, .introBoxR {
  width: 12.5%;
  background-color: #2da945 ;
}

.introBoxL, .introBoxR {
  display: flex;
  align-items: center;
}

.introBoxLIn, .introBoxRIn {
  height: 95%;
  width: 95%;
  background-color: #EBF5EE;
}

.introBoxL, .introBoxLIn {
  justify-content: flex-end;
}

.introBoxR, .introBoxRIn {
  justify-content: flex-start;
}

/* Intro Center */
.introBoxC {
  display: flex;
  align-items: center;
  width: 75%;
  background-color: #2da945 ;
}

.introBoxCIn {
  display: flex;
  width: 100%;
  height: 95%;
  background-color: #EBF5EE;
}

/* Intro Image */
.introImageContainer, .introImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introImageContainer {
  height: 100%;
  width: 30%;
}

.introImageBox {
  height: 85%;
  width: 85%;
  background-color: #2da945 ;
}

.introImageBox img {
  height: 95%;
  width: 95%;
}

/* Intro Content */
.introContentContainer {
  height: 100%;
  width: 70%;
}

.introWelcome {
  height:15%;
  padding-top:0.5rem;
  text-align:center;
  font-size:1.25rem;
}

.introFeature {
  height:75%;
}

/* Entry Content */
.entryContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  background-color:#2da945 ;
}

.entryBox {
  display:flex;
  justify-content: center;
  align-items: center;
  height:95%;
  width:97.5%;
  text-align: center;
  background-color:#EBF5EE;
}

.userInputArea, .userImageArea {
  height:90%;
  width:100%;
}

.userImageArea{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.userImage{
  width: 25%;
  height: 80%;
}

.userImage img{
  width:100%;
  height:100%;
}

button.userInfoCalories {
  margin-top:4px;
  padding: 6px;
  border: none;
  color:#ffffff;
  background-color: #2da945 ;
}

button.userInfoCalories:hover{
  background-color: #67d07b;
}

/* Body */
.bodyContainer {
  width: 75%;
  margin: auto;
  margin-top: 1rem;
}

/* Body Top */
.bodyContainerTop{
  display:flex;
  height:2rem;
  width:100%;
}

.bodyTopL, .bodyTopC, .bodyTopR {
  background-color: #2da945 ;
}

.bodyTopLIn, .bodyTopCIn, .bodyTopRIn {
  background-color: #EBF5EE;
}

.bodyTopLIn, .bodyTopRIn {
  height:80%;
  width:95%;
}

.bodyTopL{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  width:12.5%;
}

.bodyTopC {
  display:flex;
  align-items: flex-end;
  width:75%;
}

.bodyTopCIn{
  height:80%;
  width:100%;
}

.bodyTopR {
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
  width:12.5%;
}

/* Body Center */
.bodyContainerCenter{
  display:flex;
  height:auto;
  width:100%;
}

.bodyContentContainer {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: #2da945 ;
}

.bodyContentBox {
  width: 98.75%;
  background-color: #EBF5EE;
}

.bodyContent {
  padding-left: 2rem;
  padding-right: 2rem;
}

.bodyTitle {
  text-align: center;
  background-color: #2da945 ;
}

.recipeContainer {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.recipeImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30%;
  background-color: #2da945 ;
}

.recipeImageBox {
  height: 128px;
  width: 128px;
}

.recipeImage img {
  height: 100%;
  width: 100%;
}

.recipeDescription {
  height: 100%;
  width: 70%;
  padding-left: 2rem;
  text-align: center;
}

.recipeButton {
  display: flex;
  justify-content: center;;
  align-items: center;
  padding: 0.5rem;
  background-color:#2da945 ;
}

.recipeButton:hover {
  background-color:#67d07b;
}

.recipeDescription a {
  color: #ffffff;
  text-decoration: none;
}

/* Body Bottom */
.bodyContainerBottom{
  display:flex;
  height:2rem;
  width:100%;
}

.bodyBottomL, .bodyBottomC, .bodyBottomR {
  background-color: #2da945 ;
}

.bodyBottomLIn, .bodyBottomCIn, .bodyBottomRIn {
  background-color: #EBF5EE;
}

.bodyBottomLIn, .bodyBottomRIn {
  height:80%;
  width:95%;
}

.bodyBottomL{
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
  width:12.5%;
}

.bodyBottomC {
  display:flex;
  align-items: flex-start;
  width:75%;
}

.bodyBottomCIn{
  height:80%;
  width:100%;
}

.bodyBottomR {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:12.5%;
}
