@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #67d07b;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

/* Main Display */
.displayContainer {
  width: 75%;
  margin: auto;
  margin-top: 3em;
}

/* Title */
.titleContainer {
  display: flex;
  width: 35%;
  margin-left: 7.5%;
}

.titleL, .titleR, .titleC {
  background-color: #05761c;
}

.titleL, .titleR {
  width: 12.5%;
}

.titleL {
  border-top-left-radius: 50%;
}

.titleR {
  border-top-right-radius: 50%;
}

.titleC {
  width: 75%;
  text-align: center;
  font-size: 1.5rem;
}

/* Login */
.loginContainer {
  display: flex;
  height: 250px;
}

/* Login Left & Right Divisions */
.loginBoxL, .loginBoxR {
  width: 12.5%;
  background-color: #05761c;
}

.loginBoxL, .loginBoxR {
  display: flex;
  align-items: center;
}

.loginBoxLIn, .loginBoxRIn {
  width: 90%;
  height: 90%;
  background-color: #2caa46;
}

.loginBoxL, .loginBoxLIn {
  justify-content: flex-end;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}

.loginBoxR, .loginBoxRIn {
  justify-content: flex-start;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}

/* Login Center Division */
.loginBoxC {
  display: flex;
  align-items: center;
  width: 75%;
  background-color: #05761c;
}

.loginBoxCIn {
  display: flex;
  width: 100%;
  height: 90%;
  background-color: #2caa46;
}

/* Login Form: Submit */
.loginSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 2.5rem;
}

/* Login Form: Form Fields */
.loginFieldsContainer {
  display: flex;
  width: 80%;
}

/* Login Fields */
.loginFieldsBox {
  width: 50%;
}

.loginField {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 1.5rem;
}

/* Login User Input */
.loginInputContainer, .loginInputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.loginInputBox {
  width: 100%;
}

.loginInputL, .loginInputR {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #05761c;
}

.loginInputLIn, .loginInputRIn {
  width: 90%;
  height: 90%;
  background-color: #ffffff;
}

.loginInputL, .loginInputLIn {
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}

.loginInputL {
  justify-content: flex-end;
}

.loginInputR, .loginInputRIn {
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}

.loginInputR {
  justify-content: flex-start;
}

.loginInputC {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #05761c;
}

.loginInputCIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  background-color: #ffffff;
}

/* Form Buttons */
input[type=submit] {
  cursor: pointer;
  text-decoration: none;
  background-color: #2caa46;
  border: none;
  font-size: 3.5rem;
  color: white;
}

input[type=submit]:hover {
  color: #05761c;
}

input[type=text] {
  height: 1.5rem;
  width: 10rem;
  border: none;
  font-size: 1.5rem;
}

input[type=text]:focus {
  outline: none;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}
button:hover{
    color: #05761c; 
}
