@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #EBF5EE ;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #000000;
}

/* Main Display */
.displayContainer {
  width: 75%;
  margin: auto;
  margin-top: 1rem;
}

/* Landing Info */
.landingContainer {
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.motto {
  font-size: 1.5rem;
  font-weight: bold;
}

.landingBoxBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2da945;
}

.landingBox {
  margin: 0.5rem;
  background-color: #EBF5EE;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.descriptionBox {
  padding: 0.5rem;
  text-align: left;
}

.featuresTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.featuresContainer {
  display: flex;
}

.featuresBox {
  flex: 1;
  list-style-position: inside;
}

/* Title */
.titleContainer {
  display: flex;
  height: 40px;
  width: 35%;
  margin-top: 1rem;
  margin-left: 7.5%;
}

.titleL, .titleR, .titleC {
  background-color: #2da945;
}

.titleL, .titleR {
  width: 12.5%;
}

.titleL {
  border-top-left-radius: 50%;
}

.titleR {
  border-top-right-radius: 50%;
}

.titleC {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 75%;
  font-size: 1.5rem;
}

/* Login */
.loginContainer {
  display: flex;
  height: 250px;
}

/* Login Left & Right Divisions */
.loginBoxL, .loginBoxR {
  width: 12.5%;
  background-color: #2da945;
}

.loginBoxL, .loginBoxR {
  display: flex;
  align-items: center;
}

.loginBoxLIn, .loginBoxRIn {
  width: 95%;
  height: 95%;
  background-color: #EBF5EE;
}

.loginBoxL, .loginBoxLIn {
  justify-content: flex-end;
}

.loginBoxR, .loginBoxRIn {
  justify-content: flex-start;
}

/* Login Center Division */
.loginBoxC {
  display: flex;
  align-items: center;
  width: 75%;
  background-color: #2da945;
}

.loginBoxCIn {
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 100%;
  height: 95%;
  background-color: #EBF5EE;
}

.login {
	text-align:center;
}